.header {
  background-color: #222d37;

  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 0 20px;
  align-items: center;
  height: 100%;
  color: white;
  z-index: 0;
}

#rocketchat-icon,
#signout-icon {
  cursor: pointer;
}

.left-header-button {
  font-size: large;
  border: 0;
  outline: 0;
  background-color: #222d37;
  color: white;
  cursor: pointer;
}
