.menu-button-open {
  background-color: #646f79;
  padding: 0 5px 0 10px;
  border: 0;
  border-bottom: 1px solid #12171b;
  cursor: pointer;
  height: 40px;
  color: grey;
  text-align: center;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu-button-close {
  padding: 0 5px 0 10px;
  border: 0;
  border-bottom: 1px solid #12171b;
  cursor: pointer;
  height: 40px;
  color: grey;
  text-align: center;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu-button-close:hover {
  background-color: #646f79;
}

.menu-button-itself {
  background-color: transparent;
  height: 100%;
  width: 100%;
  border: 0;
  outline: 0;
  color: #bbbbbb;
  cursor: pointer;
}

.menu-button-left-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
}

.menu-button-left-content svg {
  font-size: medium;
}

.menu-button-left-content .title {
  display: flex;
  align-items: center;
  font-size: 10px;
}

.menu-button-left-content {
  font-size: medium;
}

.menu-button-submenu-count-open {
  margin-right: 10px;
  font-size: 11px;
  outline: 0;
  border: 0;
  background-color: #1c8195;
  color: black;
  padding: 0px 5px;
  border-radius: 5rem;
  transition: background-color 0.5s ease;
  box-shadow: inset 0 0 5px 1px #14535f;
}

.menu-button-submenu-count-close {
  margin-right: 10px;
  font-size: 11px;
  outline: 0;
  border: 0;
  padding: 0 5px;
  border-radius: 5rem;
  background-color: #12171b;
  transition: background-color 0.5s ease;
  box-shadow: inset 0 0 5px 1px black;
}

.menu-button-option {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.menu-button-option-icon {
  color: #222d37;
  font-size: 11px;
  padding: 4px;
}

.menu-button-option-icon:hover {
  font-size: 11px;
  background-color: #222d37;
  color: grey;
  padding: 4px;
  border-radius: 50%;
}

/*dropdown*/

/*dropdown*/

/*submenu*/
.submenu-wrapper {
  margin: 0;
  padding: 0;
  background-color: grey;
  /* border-right: 1px solid #12171b; */
  transition: max-height 0.5s ease-out;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  gap: 1px;
}

/*submenu*/
