body {
  background-color: #222d37;
}

.App {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 6% auto 6%;
  grid-template-areas:
    "hd hd"
    "sidebar main"
    "footer footer";
  margin: 0;
  height: 100vh;
}

.header {
  grid-area: hd;
  -webkit-box-shadow: 0 3px 5px rgba(34, 45, 55, 0.5);
  -moz-box-shadow: 0 3px 5px rgba(34, 45, 55, 0.5);
  box-shadow: 0 3px 5px rgba(34, 45, 55, 0.5);
}

.sidebar-close {
  grid-area: sidebar;
  width: 200px;
  margin-left: -200px;
  transition: margin-left 0.5s ease;
}

.sidebar-open {
  grid-area: sidebar;
  width: 200px;
  margin-left: 0;
  transition: margin-left 0.5s ease;
}
.main {
  grid-area: main;
}

footer {
  grid-area: footer;
  -webkit-box-shadow: -3px -4px 5px rgba(34, 45, 55, 0.5);
  -moz-box-shadow: -3px -4px 5px rgba(34, 45, 55, 0.5);
  box-shadow: -3px -4px 5px rgba(34, 45, 55, 0.5);
}
