/* modal */
.ReactModal__Overlay--after-open {
  background-color: rgba(0, 0, 0, 0.6) !important;
}

.modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  height: 40px;
  padding: 0 10px;
  background-color: #222d37;
  color: white;
  min-width: 500px;
}

.modal-body {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  /* border-bottom: 0.5px solid grey; */
  background-color: whitesmoke;
}

.modal-body > input {
  height: 30px;
  padding-left: 10px !important;
  width: 74%;
  border: 0.5px solid grey;
  outline: 0;
  background-color: white;
  padding-left: 5px;
  color: black;
}

.modal-footer {
  height: 40px;
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.modal-footer > button {
  border: 0;
  outline: 0;
  padding: 10px;
  color: white;
  cursor: pointer;
}

.modal-footer > button.update-button,
.modal-footer > button.add-button {
  padding: 5px 10px;
  background-color: #1c8195;
}

.modal-footer > button.delete-button {
  padding: 5px 10px;
  color: red;
  border: 1px solid red;
}

.modal-footer > button.delete-button:hover {
  padding: 5px 10px;
  background-color: red;
  color: white;
  border: 1px solid white;
}

#errorMessage {
  color: red;
}

/* modal */
